@import "tailwindcss";
@import "tw-animate-css";

/* DEFAULT (light) */
body.for_light_theme {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
  --snow:#fff;
  --box-qt:#f0f2f5
}

/* DARK */
body.for_dark_theme {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #202225;
  --heading-color: #818cab;
  --snow:#0a0a0a;
  --box-qt:#2f3136

}

/* example usage */
body {
  background-color: var(--bg-color);
  color: var(--font-color);
}
